body {
  font-family: "Plus Jakarta Sans";
  background-color: hsl(202, 86%, 94%);
}
body #calculate {
  background-color: hsl(0, 0%, 100%);
  padding-top: 35px;
  padding-bottom: 35px;
  /* Chrome, Safari, Edge, Opera: hide arrows */
  /* Firefox: hide arrows */
}
body #calculate h2 {
  color: hsl(202, 55%, 16%);
  font-weight: 700;
}
body #calculate input[type=reset] {
  color: hsl(200, 24%, 40%);
  background-color: hsl(0, 0%, 100%);
  border: none;
  text-decoration: underline;
}
body #calculate input[type=reset]:hover {
  color: hsl(202, 55%, 16%);
}
body #calculate label {
  font-weight: 500;
  color: hsl(200, 24%, 40%);
}
body #calculate span {
  background-color: hsl(202, 86%, 94%);
  color: hsl(200, 24%, 40%);
  font-weight: 700;
}
body #calculate .errorSpan {
  color: hsl(0, 0%, 100%);
  background-color: hsl(4, 69%, 50%);
  border-color: hsl(4, 69%, 50%) !important;
}
body #calculate .errorInput {
  border-color: hsl(4, 69%, 50%) !important;
}
body #calculate #amount {
  border-left: none;
}
body #calculate #term, body #calculate #rate {
  border-right: none;
}
body #calculate input::-webkit-outer-spin-button,
body #calculate input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body #calculate input[type=number] {
  -moz-appearance: textfield;
}
body #calculate input[type=number], body #calculate .input-group-text {
  border-color: hsl(200, 26%, 54%);
}
body #calculate span:hover {
  border-color: hsl(202, 55%, 16%);
}
body #calculate .input-group:focus-within {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  z-index: 3;
  border-radius: 0.25rem;
}
body #calculate .input-group .form-control:focus {
  box-shadow: none !important;
}
body #calculate div.form-check > input[type=radio], body #calculate div.form-check {
  border: 1px solid hsl(200, 24%, 40%);
}
body #calculate div.form-check > label {
  color: hsl(202, 55%, 16%);
  font-weight: 700;
}
body #calculate .form-check:hover {
  border-color: hsl(61, 70%, 52%);
}
body #calculate button {
  background-color: hsl(61, 70%, 52%);
  color: hsl(202, 55%, 16%);
  font-weight: 700;
  padding: 15px;
  font-size: 1.1rem;
}
body #calculate button b {
  font-weight: 700;
}
body #calculate button > img {
  position: relative;
  right: 15px;
  bottom: 2px;
}
body #calculate button:hover {
  background-color: hsla(61, 70%, 52%, 0.5);
}
body #results {
  background-color: hsl(202, 55%, 16%);
}
body #results h1 {
  color: hsl(0, 0%, 100%);
}
body #results p {
  color: hsl(203, 41%, 72%);
}

@media screen and (min-width: 576px) {
  #mortgage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
  }
  #mortgage #calculate {
    padding-right: 100px !important;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  #mortgage #calculate #headAndResetField {
    display: flex;
    justify-content: space-around;
  }
  #mortgage #calculate #termAndRateField {
    display: flex;
    justify-content: space-around;
  }
  #mortgage #calculate button img {
    right: 35px;
    top: 10px;
  }
  #mortgage #calculate button b {
    position: relative;
    right: 15px;
  }
  #mortgage #results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 100px;
    z-index: 1;
    margin-left: -75px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
@media screen and (min-width: 627px) {
  #mortgage #calculate #termField {
    width: 47.5%;
    margin-left: -7px;
  }
  #mortgage #calculate #rateField {
    width: 47.5%;
    margin-right: -7px;
  }
  #mortgage #calculate img {
    right: 2px !important;
    top: -1px !important;
  }
  #mortgage #calculate b {
    right: 2px !important;
  }
}
@media screen and (min-width: 696px) {
  button {
    max-width: 284.467px;
  }
}
@media screen and (min-width: 768px) {
  #termField {
    width: 48% !important;
    margin-left: -7px;
  }
  #rateField {
    width: 48% !important;
    margin-right: -7px;
  }
}
@media screen and (min-width: 840px) {
  #headAndResetField {
    justify-content: space-between !important;
  }
  h2 {
    font-size: 22px;
  }
  h1 {
    font-size: 25px;
  }
}
@media screen and (min-width: 910px) {
  #main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #mortgage {
    max-width: 909px;
    align-content: center;
  }
}