$lime: hsl(61, 70%, 52%);
$red: hsl(4, 69%, 50%);

$white: hsl(0, 0%, 100%);
$slate100: hsl(202, 86%, 94%);
$slate300: hsl(203, 41%, 72%);
$slate500: hsl(200, 26%, 54%);
$slate700: hsl(200, 24%, 40%);
$slate900: hsl(202, 55%, 16%);
$slate1100: hsl(200, 53%, 10%);

$submitHover: hsla(61, 70%, 52%, 0.5);
$size: 16px;
$radiusSize: 20px;

$l-weight: 500;
$h-weight: 700;

body {
    font-family: "Plus Jakarta Sans";
    background-color: $slate100;
    #calculate {
        background-color: $white;
        padding-top: 35px;
        padding-bottom: 35px;
        h2 {
            color: $slate900;
            font-weight: $h-weight;
        }
        input[type="reset"] {
            color: $slate700;
            background-color: $white;
            border: none;
            text-decoration: underline;
        }
        input[type="reset"]:hover {
            color: $slate900;
        }
        label {
            font-weight: $l-weight;
            color: $slate700;
        }
        span {
            background-color: $slate100;
            color: $slate700;
            font-weight: $h-weight;
        }
        .errorSpan {
            color: $white;
            background-color: $red;
            border-color: $red !important;
        } 
        .errorInput {
            border-color: $red !important;
        }
        .errorStates {
            color: $red;
            margin: 10px 0;
            font-weight: $l-weight;
            font-size: small;
        }
        #amount {
            border-left: none;
        }
        #term, #rate {
            border-right: none;
        }
        /* Chrome, Safari, Edge, Opera: hide arrows */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        /* Firefox: hide arrows */
        input[type="number"] {
            -moz-appearance: textfield;
        }
        input[type="number"], .input-group-text {
            border-color: $slate500;
        }
        span:hover {
            border-color: $slate900;
        }
        .input-group:focus-within {
            color: #212529;
            background-color: #fff;
            border-color: #86b7fe;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
            z-index: 3;
            border-radius: .25rem;
        }
        .input-group .form-control:focus {
            box-shadow: none !important;
        }
        div.form-check > input[type="radio"], div.form-check {
            border: 1px solid $slate700;
        }
        div.form-check > label {
            color: $slate900;
            font-weight: $h-weight;
        }
        .form-check:hover {
            border-color: $lime;
        }
        button {
            background-color: $lime;
            color: $slate900;
            font-weight: $h-weight;
            padding: 15px;
            font-size: 1.1rem;
            b {
                font-weight: $h-weight;
            }
        }
        button > img {
            position: relative;
            right: 15px;
            bottom: 2px;
        }
        button:hover {
            background-color: $submitHover;
        }
    }
    #results {

            background-color: $slate900;
            h1 {
                color: $white;
            }
            p {
                color: $slate300;
            }
        #resultsCompletedField {
            h2 {
                font-weight: $h-weight;
                color: $white;
            }
            section {
                background-color: $slate1100;
                border-top-color: $lime !important;
                h6 {
                    color: $slate300;
                }
                #monthyPaymentField {
                    border-bottom-color: $slate900 !important;
                    #monthlyPayments {
                        color: $lime;
                        font-weight: $h-weight;
                        font-size: 35px;
                    }
                 }
                #termPayments {
                    color: $white; 
                }
            }
        }
    }
}
@media screen and (min-width: 576px) {
    #mortgage {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 100px;       
        #calculate {
            padding-right: 100px !important;
            border-top-left-radius: $radiusSize;
            border-bottom-left-radius: $radiusSize;
            #headAndResetField {
                display: flex;
                justify-content: space-around;
            }
            #termAndRateField {
               display: flex;
               justify-content: space-around;
            }
            button {
                img {
                    right: 35px;
                    top: 10px;
                }
                b {
                    position: relative;
                    right: 15px;
                }
            }
        }
        #results {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-bottom-left-radius: 100px;
            z-index: 1;
            margin-left: -75px;
            border-top-right-radius: $radiusSize;
            border-bottom-right-radius: $radiusSize;
        }
    }
}
@media screen and (min-width: 627px) {
    #mortgage {
        #calculate {
            #termField {
                width: 47.5%;
                margin-left: -7px;
            }
            #rateField {
                width: 47.5%;
                margin-right: -7px;
            }
            img {
                right: 2px !important;
                top: -1px !important;
            }
            b {
                right: 2px !important;
            }
         }
    }
}
@media screen and (min-width: 696px) {
    button {
       max-width: 284.467px;
    }
}
@media screen and (min-width: 768px) {
    #termField {
        width: 48% !important;
        margin-left: -7px;
    }
    #rateField {
        width: 48% !important;
        margin-right: -7px;
    }
    
}
@media screen and (min-width: 840px) { 
    #headAndResetField {
        justify-content: space-between !important;
    }
    h2 {
        font-size: 22px;
    }
    h1 {
        font-size: 25px;
    }
}
@media screen and (min-width: 910px) {
    #main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #mortgage {
        max-width: 909px;
        align-content: center;
    }
}